#contentdiv {
	width: 480px;
	height: 800px;
	border: 1px green solid;
	position: relative;
}

#startdiv {
	width: 100%;
	height: 100%;
	background: url(../img/start/startBg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#startBtn {
	width: 189px;
	height: 62px;
	background: url(../img/start/startButton.png);
	position: absolute;
	left: 150px;
	top: 530px;
}

#rulesBtn {
	width: 189px;
	height: 62px;
	background: url(../img/start/rules.png);
	position: absolute;
	left: 150px;
	top: 630px;
}

#introducediv {
	width: 100%;
	height: 100%;
	background: url(../img/start/introducer.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#IReturnBtn {
	width: 190px;
	height: 62px;
	background: url(../img/start/IReturn.png);
	position: absolute;
	left: 160px;
	top: 650px;
}

#gamediv {
	width: 100%;
	height: 100%;
	background: url(../img/bg1.jpg);
	background-size: 100%;
	display: none;
	left: 0px;
	top: 0px;
}

* {
	padding: 0;
	margin: 0;
}
#gamediv label {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	font-family: "楷体";
	margin-left: 10px;
}


#ReturnBtn {
	width: 190px;
	height: 62px;
	background: url(../img/start/IReturn.png);
	position: absolute;
	left: 160px;
	top: 730px;
}

#gamediv img {
	position: absolute;
}

#gameover {
	width: 480px;
	height: 200px;
	background: #FF0000;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 0;
	top: 250px;
	z-index: 999;
	opacity: 0.7;
	display: none;
}
#userBack{
	width: 480px;
	height: 100px;
	border-radius: 20px;
	background-color: #ff6600;
	color: #fff;
	cursor: pointer;
	line-height: 100px;
}
